#
# Edoceo .gitignore
#

**/.idea/workspace.xml
**/.idea/tasks.xml
*.phar
.build/
.config/
.env*
.gradle/
.idea/
.local/
.netlify/
.vscode/
bower_components/
build/
Custom/
etc/
node_modules/
playwright/.cache/
playwright-report/
public/
release/
source-data/
test/*.xsl
test/phpunit.xml
var/
vendor/
webroot/css/
webroot/error/
webroot/img/
webroot/js/app.js
webroot/js/app.js.gz
webroot/manual/
webroot/output/
webroot/phprof/
webroot/pub/
webroot/test-output/
webroot/vendor/
